client # Указывает, что конфигурация предназначена для клиентского подключения.

dev tun # Указывает, что будет использоваться виртуальный сетевой интерфейс (tun).

proto tcp # Указывает, что будет использоваться протокол TCP.

remote localhost # Указывает, что подключение будет осуществляться к localhost.

resolv-retry infinite # Указывает, что при возникновении ошибок при разрешении DNS-имени будет производиться повторное подключение.

nobind # Указывает, что не будет производиться привязка к определенному IP-адресу.

persist-key # Указывает, что ключ будет сохраняться после отключения.

persist-tun # Указывает, что виртуальный сетевой интерфейс будет сохраняться после отключения.

comp-lzo # Указывает, что будет использоваться сжатие данных с помощью алгоритма LZO.

verb 3 # Указывает уровень детализации логирования.

<ca> # Блок, в котором содержится сертификат центра сертификации.

-----BEGIN CERTIFICATE-----

-----END CERTIFICATE-----
</ca> # Конец блока сертификата центра сертификации.

<cert> # Блок, в котором содержится сертификат клиента.

-----BEGIN CERTIFICATE-----

-----END CERTIFICATE-----
</cert> # Конец блока сертификата клиента.

<key> # Блок, в котором содержится закрытый ключ клиента.

-----BEGIN PRIVATE KEY-----

-----END PRIVATE KEY-----
</key> # Конец блока закрытого ключа клиента.
